@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --green: rgb(6, 98, 6);
    /* Set your desired color value */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 100;
}

header .logo {
    margin-left: -500px;
    font-size: 2rem;
    color: var(--green);
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
}

header ul {
    margin-left: -500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header ul li {
    list-style: none;
    margin: 0 10px;
}

header ul li a {
    padding: 6px 15px;
    font-size: 1rem;
    border-radius: 40px;
    color: var(--green);
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
}

header ul li a:hover,
header ul li .active {
    color: #fff;
    background: var(--green);
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

section img#plant {
    z-index: 11;
}

section .text {
    margin-top: 250px;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    color: #fff;
    font-size: 7.5vw;
    z-index: 10;
}

.tex {
    position: relative;
    padding: 50px;
    background: #003329;
}

.tex h2 {
    color: #fff;
    font-size: 2.5rem;
    margin: 0 0 20px;
}

.tex p {
    color: #fff;
}